{
    "extends": "eslint:recommended",
    "env": {
        "node": true,
        "mocha": true,
        "es6": true
    },
    "rules": {
        "no-constant-condition": 0
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    }
}
