npm-debug.log
node_modules
fullfatdb
skimdb
_users
_replicator
pouch__all_dbs__
pouch__auth_sessions__
npm-fullfat-tmp-*
registry.seq
missing.log
skim-seq.txt
.idea
binarydb
coverage
npm-debug.log*
config.json
log.txt
.nyc_output
.DS_Store
package-lock.json
