html {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body, div#root {
    height: 100%;
    width: 100%;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
}

.readme code {
    display: inline-block;
    padding: .2rem .4rem;
    font-size: 90%;
    color: #bd4147;
    background-color: #f7f7f9;
    border-radius: .25rem
}
